<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
	</startup>
	<connectionStrings>
		<add name="FConnection" connectionString="Data Source=******;Initial Catalog=******;User Id = *****; Password = *****"
			providerName="System.Data.SqlClient"/>

		<add name="SConnection" connectionString="Data Source=******;Initial Catalog=******;User Id = *****; Password = *****"
		providerName="System.Data.SqlClient"/>

		<add name ="MessConnection" connectionString="Data Source=******;Initial Catalog=******;User Id = ******; Password = ******"
		providerName="System.Data.SqlClient" />

	</connectionStrings>
	<appSettings>
		<add key ="query" value="exec dbo.MasterScadaToServPDC_test
select *
 from PressCountVar where ddate>convert(datetime,dbo.DTOS(dateadd(dd,-1,getdate())))"/>

		<add key ="NameInInsertTable" value ="PressCountVar"/>

		<add key ="SendSuccessWorked" value ="1"/>

	</appSettings>


</configuration>
